HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Maven
target/
*.log
*.class

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.tmp

# Env
.env

# Docker
**/data/
**/pgdata/
**/.env
**/node_modules/
**/tmp/

# Flyway
**/flyway/sql/*~  # temporary files

# VSCode
.vscode/

